/* Remove top margin */
.main > div {
    padding-top: 3rem;
}

/* Hide 'Deploy', 'Span', 'Deploy' and Sidebar buttons and everything else unnecessary*/
.st-emotion-cache-w9v1j9.ef3psqc5
{
    visibility: hidden;            
}
.st-emotion-cache-czk5ss.e16jpq800
{
    visibility: hidden;            
}
.st-emotion-cache-1tqswft.eczjsme4
{
    visibility: hidden;            
}      
.stDeployButton
{
    visibility: hidden;            
}
.st-emotion-cache-ok4tyi.e1vs0wn31
{
    visibility: hidden;            
}
.st-emotion-cache-1iplb5l.e1nzilvr3
{
    display: none;            
} 